body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: block;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}
.features,
.team,
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header-page {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
.header-page .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-header .nav-menu {
  display: flex;
  gap: 40px;
}
.nav-header {
  margin-left: 76px;
}
.contacts .nav-contacts {
  display: flex;
  gap: 40px;
}
.menu-option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.intro {
  background-color: #2e2f42;
  padding: 188px 0;
}
.intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
}
.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
}
.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-features {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.list-features-kind {
  width: calc((100% - 3 * 24px) / 4);
}
.features-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.list-features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-features-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.list-team {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-team-kind {
  width: 264px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
}
.member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-position {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-portfolio .list-portfolio-kind {
  width: calc((100% - 2 * 24px) / 3);
}
.list-portfolio-kind {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  gap: 8px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-description {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-page .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-page {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.accent-logo {
  color: #4d5ae5;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}
.link-contacts {
  color: #434455;
}
.link-contacts:hover {
  color: #404bbf;
}
.link-contacts:focus {
  color: #404bbf;
}
.link {
  padding: 24px 0;
}
