body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: block;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  display: block;
  text-decoration: none;
  color: #2e2f42;
}

ul {
  list-style-type: none;
}
.features,
.team,
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header-page {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  z-index: 999;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}
.header-page .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-header .nav-menu {
  display: flex;
  gap: 40px;
}
.link.active {
  color: #404bbf;
}
.nav-header {
  margin-left: 76px;
}
.contacts .nav-contacts {
  display: flex;
  gap: 40px;
}
.menu-option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.intro {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  padding: 188px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1440px;
  margin: 0 auto;
}
.intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
}
.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.features .container {
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.list-features {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.list-features-kind {
  width: calc((100% - 3 * 24px) / 4);
}
.features-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.list-features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.list-features-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.list-team {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.social-link .icon {
  fill: #f4f4fd;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-team-kind {
  width: 264px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
}
.member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.member-position {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-portfolio .list-portfolio-kind {
  width: calc((100% - 2 * 24px) / 3);
}
.list-portfolio-kind {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  gap: 8px;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-portfolio-kind:hover .overlay-text {
  transform: translateY(0);
}
.list-portfolio-kind:hover {
  cursor: pointer;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-description {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-page .container {
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: baseline;
}
.footer-page {
  background-color: #2e2f42;
  padding-bottom: 100px;
  padding-top: 100px;
}
.info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 208px;
  align-items: flex-start;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-social-link .icon {
  fill: #f4f4fd;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.accent-logo {
  color: #4d5ae5;
}
.link:hover {
  color: #404bbf;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover::after {
  opacity: 1;
}
.link:focus {
  color: #404bbf;
}
.link:focus::after {
  opacity: 1;
}
.link.active::after {
  opacity: 1;
}
.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}
.link-contacts {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contacts:hover {
  color: #404bbf;
}
.link-contacts:focus {
  color: #404bbf;
}
.link {
  position: relative;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
